* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;

}


.container {
  background: url('../images/background.jpg');
  background-repeat: repeat-x;
  background-size: contain;

}

.container::after {
  position: absolute;
  background: url('../images/reverse-pattern.svg');

  background-repeat: repeat-x;
  transform: scaleX(-1);
  z-index: -1;
}
















header {
  position: fixed;
  text-align: center;
  z-index: 1;
  width: 100%;
  padding-top: 50px;
}

h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  text-shadow: -1px -1px 0 #575353, 1px -1px 0 #5a5a5a, -1px 1px 0 #686666, 1px 1px 0 #616161;
}

.container {
  width: 100%;
  height: 100vh;
}

.container__wrapper {
  width: 100vw;
  white-space: nowrap;
}

.container__image {
  width: 100vw;
  height: 100vw;
}

.section {
  width: 100vw;
  height: 97vh;
  display: inline-block;
  position: relative;
}

.section p {
  font-size: 100px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section {
  height: 200px;
  background: red;
  margin: 10px;
}

.section:nth-child(1) {
  clip-path: ellipse(85% 100% at top);
}

.section:nth-child(2) {
  clip-path: ellipse(650px 100% at top);
}
